.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  
  }

  html {
    margin: 0;
    padding: 0;
  }


  .imageContainer {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
  }
  
  .previewImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
.home__image{
   z-index: -1 ;
  margin-bottom:-400px; 
  mask-image: linear-gradient(to bottom ,rgba(0, 0,0,1) , rgb(0, 0, 0,0));
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}
.AnimalRow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;

}

 .AnimalRow h2 {
  color: white;
}
